@import '../../variables.scss';
@import '../../fonts.scss';
@import '../../mixins.scss';

.header{
    box-sizing: border-box;
    overflow: hidden;
    padding: 12px 16px 0 16px;
    border-bottom: 1px solid $alabaster;

    @include tablet{
        padding: 0 24px 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    @include desktop{
        padding: 0 150px 0 150px;
    }

    &__logo{
        padding-bottom: 10px;

        @include tablet{
            padding: 0;
        }
    }

    &__logolink{
        display: flex;
        justify-content: center;
    }

    &__form{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
            align-items: center;
            width: 440px;
        }
    }

    &__input{
        box-sizing: border-box;
        height: 45px;
        width: 100%;
        padding-left: 40px;
        font-size: 14px;
        font-family: 'Avenir';
        border: solid 1px $mercury;
        border-radius: 4px;
        background-color: $alabaster;
        background: url(./../../Assets/Icons/SVG/Icon-search.svg) no-repeat;
        background-position: 15px;
        color: $black;

        @include desktop{
            font-size: 16px;
            font-family: 'Avenir-Demi';
        }
    }

    &__box{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 8px 0 3px 0;

        @include tablet{
            margin: 0;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__search{
        height: 50px;
        width: 80%;
        background-color: $brainflixblue;
        font-family: 'Avenir-Demi';
        font-size: 15px;
        border: none;
        border-radius: 4px;
        color: white;
        position: relative;
        padding-left: 40px; 

        @include tablet{
            width: 100px;
            padding-left: 20px;
            margin-right: 24px;
        }
    }

    &__searchlink{
        height: 50px;
        width: 78%;

        @include tablet{
            margin: 0 24px 0 24px;
            width: 100px;
        }
    }

    &__usericon{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        object-fit: cover;
    }

    &__uploadicon{
        position: absolute;
        left: 75px;
        top: 17px;

        @include tablet{
            left: 10px;
        }
    }
}