@import './../../../fonts.scss';
@import './../../../mixins.scss';
@import './../../../variables.scss';


.upload{
    display:flex;
    flex-direction: column;
    font-family: 'Avenir';
    padding: 0 16px;

    @include tablet{
        padding: 0 24px;
    }

    @include desktop{
        padding: 0 150px;
    }

    &__title{
        font-family: 'Avenir-Bold';
        margin: 24px 0 32px 0;
        color: $black;

        @include tablet{
            font-size: 36px;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
    }

    &__nobuttons{
        display:flex;
        flex-direction: column;

        @include tablet{
            border-top: solid 1px $mercury;
            border-bottom: solid 1px $mercury;
            padding-bottom: 40px;
        }

        @include desktop{
            flex-direction: row;
        }
    }

    &__thumbnail{
        display:flex;
        flex-direction: column;
    }

    &__label, &__thumblabel{
        font-family: 'Avenir-Demi';
        color: $silver;
        font-size: 12px;
        padding:32px 0 5px 0;
    }

    &__thumblabel{
        padding-top: 0;

        @include tablet{
            padding-top: 40px;
        }
    }

    &__nopreview{
        display: flex;
        flex-direction: column;
    }

    &__titlelabel{
        
        @include tablet{
            padding-top: 40px;
        }
    }

    &__desclabel{

        @include tablet{
            padding-top: 24px;
        }
    }

    &__preview{
        height: 153px;
        width: 288px;
        border-radius: 4px;

        @include tablet{
            height: 183px;
            width: 344px;
        }
    }

    &__nopreview{

        @include desktop{
            width: 60%;
            margin-left: 24px;
        }
    }

    &__text{
        border-radius: 4px;
        border: 1px solid $mercury;
        background-color: $alabaster;
        font-size: 12px;
        color: black;
        padding-left: 10px;
    }

    &__titleinput{
        height: 38px;
    }

    &__descriptioninput{
        box-sizing: border-box;
        height: 143px;
        padding-bottom: 110px;
        font-size: 12px;

        @include desktop{
            height: 97px;
            padding-bottom: 60px;
        }
    }

    &__buttons{
        display:flex;
        flex-direction: column;
        margin-top: 32px;

        @include tablet{
            flex-direction: row-reverse;
            margin-bottom: 100px;
        }
    }

    &__publish{
        height: 50px;
        background-color: $brainflixblue;
        color: white;
        font-family: 'Avenir-Demi';
        font-size: 14px;
        border-radius: 4px;

        @include tablet{
            width: 160px;
        }
    }

    &__cancel{
        height: 38px;
        font-family: 'Avenir-Demi';
        font-size: 14px;
        color: $brainflixblue;
        margin-bottom: 30px;
        padding-top: 16px;

        @include tablet{
            padding-right: 48px;
        }
    }
}

