@import '../../variables.scss';
@import '../../fonts.scss';

.header{
    box-sizing: border-box;
    overflow: hidden;
    padding: 12px 16px 0 16px;

    &__logo{
        padding-bottom: 10px;
    }

    &__form{
        display: flex;
        flex-direction: column;
    }

    &__input{
        height: 45px;
        width: 85%;
        padding-left: 40px;
        font-size: 14px;
        font-family: 'Avenir';
        border: solid 1px $mercury;
        border-radius: 4px;
        background-color: $alabaster;
        color: $black;
    
    }

    &__box{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 8px 0 3px 0;
    }

    &__search{
        height: 50px;
        width: 78%;
        background-color: $brainflixblue;
        font-family: 'Avenir-Demi';
        font-size: 15px;
        border: none;
        border-radius: 4px;
        color: white;
    }

    &__usericon{
        height: 50px;
        width: 50px;
        border-radius: 100%;
        object-fit: cover;
    }
}