.video{

    &__videocontent{
        width: 100%;
    }

    &__top{
        display: flex;
        flex-direction: column;
        padding: 0 16px 0 16px;
    }

    &__details{
        display: flex;
    }

    &__stats{
        display: flex;
        justify-content: space-between;
        padding: 32px 0 24px 0;
        width: 70%;

    }

    &__author, &__postdate, &__views, &__likes{
        margin: 0;
    }

    &__views{
        margin-left: 30px;
    }
}