@import '../../variables.scss';
@import '../../fonts.scss';
@import '../../mixins.scss';

body{
    font-family: 'Avenir';
}

.video{

    &__videoplayer{
        background-color: black;
        height: 55vw;

        @include tablet{
            height: 390px;
        }

        @include desktop{
            height: 438px;
        }
    }

    &__videocontent{
        width: 100%;
        height: 100%;
        object-fit: contain;

        @include tablet{
            width: 700px;
        }

        @include desktop{
            width: 786px;
        }
    }

    &__controls{
        position: relative;
    }

    &__fullscreen, &__pause, &__play, &__scrubber, &__volume{
        position: absolute;
    }

    // &__fullscreen{
    //     top: 90%;
    // }

    &__description{
        padding: 0 16px 20px 16px;

        @include tablet{
            padding: 0 24px 0 24px;
        }

        @include desktop{
            padding: 0 24px 0 150px;
            width: 600px;
        }
    }

    &__top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: solid 2px $mercury;

        @include tablet{
            padding: 48px 0 24px 0;
        }
    }

    &__title{
        text-align: left;
        font-family: 'Avenir-Bold';

        @include tablet{
            font-size: 34px;
            margin: 0 0 24px 0;
        }

        @include desktop{
            font-size: 30px;
        }
    }

    &__detailsstats{
        @include tablet{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        @include desktop{
            width: 95%;
        }
    }

    &__details{
        display: flex;
        justify-content: flex-start;
        width: 200px;
    }

    &__stats{
        display: flex;
        justify-content: space-between;
        padding: 32px 0 24px 0;
        width: 202px;
        position: relative;

        @include tablet{
            padding: 0;
        }
    }

    &__author, &__postdate, &__views, &__likes{
        margin: 0;
    }

    &__postdate{
        color: $silver;
    }

    &__author{
        font-family: 'Avenir-Demi';
        margin-right: 8px;
    }

    &__views{
        margin-left: 28px;
    }

    &__viewsicon{
        position: absolute;
        top: 34px;

        @include tablet{
            top: 3px;
        }
    }

    &__likesicon{
        position: absolute;
        left: 120px;
        top: 34px;

        @include tablet{
            top: 3px;
        }
    }

    &__text{
        text-align: left;
        font-size: 13px;
        margin:24px 0 0 0;

        @include tablet{
            width: 72%;
            line-height: 1.2rem;
        }
    }
}